{% extends "layout.html" %}

{% block title %}{{ directory.title }} – Cat's Eye Marble{% endblock %}

{% block main %}
    <section id="breadcrumbs">
        <h1
            {% if directory.has_proper_title %}class="proper-title"{% endif %}
        >{{ directory.title }}</h1>
    </section>

    <section id="directory-contents">
        {% for post in posts %}
            <a href="{{ post.path }}">
                <figure>
                    <img
                        src="{{ post.path }}/thumbnail"
                        alt=""
                        srcset="{{ post.path }}/thumbnail?height=400 2x"
                    >
                    <figcaption>
                        <span
                            {% if post.has_proper_title %}
                                class="proper-title"
                            {% endif %}
                        >{{ post.title }}</span>
                        <time datetime="{{
                            post.timestamp.format("%Y-%m-%d %H:%M:%SZ")
                        }}">
                            {{ post.timestamp.format("%Y-%m-%d") }}
                        </time>
                    </figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% endblock %}
