{% extends "layout.html" %}
{% import "helpers.html" as helpers %}

{% block title %}{{ directory.title }} – Cat's Eye Marble{% endblock %}

{% block open_graph %}
    <meta property="og:url" content="{{ base_url }}{{ directory.path }}">
    <meta property="og:title" content="{{ directory.title }}">
{% endblock %}

{% block main %}
    <section id="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.path }}">{{ breadcrumb.label }}</a> ›
        {% endfor %}

        <h1
            {% if directory.has_proper_title %}class="proper-title"{% endif %}
        >{{ directory.title }}</h1>
    </section>

    {% if !subdirs.is_empty() %}
        <section id="directory-children">
            {% for subdir in subdirs %}
                <a href="{{ subdir.path }}">
                    {{ subdir.title }}
                </a>
            {% endfor %}
        </section>
    {% endif %}

    {% if !posts.is_empty() %}
        <section id="directory-contents">
            {% for post in posts %}
                {% call helpers::post_link(post, 200, "", "") %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
