{% extends "layout.html" %}

{% block open_graph %}
    <meta property="og:url" content="{{ base_url }}/">
    <meta property="og:title" content="Home">
{% endblock %}

{% block main %}
    <section>
        <h2>Hewwo, Internet!!</h2>

        <p>I'm Trinket and this website is very much under construction.  You
        can see some of my art (more to come, currently traipsing through my
        backlog) and there's a feed for your feedreader.  I guess that's all
        for now okay love you bye</p>
    </section>
{% endblock %}
