{% extends "layout.html" %}
{% import "helpers.html" as helpers %}

{% block open_graph %}
    <meta property="og:url" content="{{ base_url }}/">
    <meta property="og:title" content="Home">
{% endblock %}

{% block main %}
    <section id="breadcrumbs">
        <h1>Cat's Eye Marble</h1>
    </section>

    <section>
        <h2>Hewwo, Internet!!</h2>

        <p>I'm Trinket and this website is very much under construction.  You
        can see some of my art (more to come, currently traipsing through my
        backlog) and there's a feed for your feedreader.  I guess that's all
        for now okay love you bye</p>
    </section>

    {% if let Some((post, posts)) = posts.split_first() %}
        <section id="latest-posts">
            <h2>Latest posts</h2>

            <article id="very-latest-post">
                <header>
                    <h3>
                        <a
                            href="{{ post.path }}"
                            {% if post.has_proper_title %}
                                class="proper-title"
                            {% endif %}
                        >{{ post.title }}</a>
                    </h3>

                    <time datetime="{{
                        post.timestamp.format("%Y-%m-%d %H:%M:%SZ")
                    }}">
                        {{ post.timestamp.format("%Y-%m-%d") }}
                    </time>
                </header>

                <div id="latest-post-images">
                    {% for file in files %}
                        <img src="{{ post.path }}/files/{{ file.order }}">
                    {% endfor %}
                </div>

                <div id="latest-post-body">{{ post.description|markdown }}</div>
            </article>

            <div id="other-latest-posts">
                {% for post in posts %}
                    {% call helpers::post_link(post, 100, "", "") %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
