{% extends "layout.html" %}
{% import "helpers.html" as helpers %}

{% block title %}{{ post.title }} – Cat's Eye Marble{% endblock %}

{% block open_graph %}
    <meta property="og:url" content="{{ base_url }}{{ post.path }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ post.title }}">
    {# Including Markdown source as plain text here on purpose #}
    <meta property="og:description" content="{{ post.description }}">
    <meta
        property="og:image"
        content="{{ base_url }}{{ post.path }}/thumbnail?height=1080"
    >
    {# files.first() doesn't seem to work here because of Diesel shenanigans.
    Eating whitespace after break stifles an unreachable code warning lolll #}
    {% for file in files %}
        <meta property="og:image:alt" content="{{ file.alt_text }}">
        {% break -%}
    {% endfor %}
    {# Mixing in this one (1) Twitter card line seems to do the right thing
    across various websites.  afaict it's just the done thing; there's no Open
    Graph equivalent here #}
    <meta name="twitter:card" content="summary_large_image">
    <meta
        property="article:published_time"
        content="{{ post.timestamp.format("%Y-%m-%dT%H:%M:%SZ") }}"
    >
{% endblock %}

{% block main %}
    <section id="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.path }}">{{ breadcrumb.label }}</a> ›
        {% endfor %}

        <h1
            {% if post.has_proper_title %}class="proper-title"{% endif %}
        >{{ post.title }}</h1>

        {% if post.timestamp < crate::SITE_LAUNCH -%}
            Originally posted
        {%- else -%}
            Posted
        {%- endif %}
        <time datetime="{{ post.timestamp.format("%Y-%m-%d %H:%M:%SZ") }}">
            {{ post.timestamp.format("%Y-%m-%d %H:%M UTC") }}
        </time>
    </section>

    <section id="art">
        {% for file in files %}
            <img
                src="{{ post.path }}/files/{{ file.order }}"
                alt="{{ file.alt_text }}"
            >
        {% endfor %}
    </section>

    <section id="browsing">
        {% if let Some(prev_post) = prev_post %}
            {% call helpers::post_link(
                prev_post, size=100, classes="prev", label="Prev:"
            ) %}
        {% endif %}
        {% if let Some(next_post) = next_post %}
            {% call helpers::post_link(
                next_post, size=100, classes="next", label="Next:"
            ) %}
        {% endif %}
    </section>

    <section>{{ post.description|markdown }}</section>
{% endblock %}
