{% extends "layout.html" %}

{% block title %}{{ post.title }} – Cat's Eye Marble{% endblock %}

{% block open_graph %}
    <meta name="og:url" content="{{ base_url }}{{ post.path }}">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{ post.title }}">
    {# Including Markdown source as plain text here on purpose #}
    <meta name="og:description" content="{{ post.description }}">
    <meta
        name="og:image"
        content="{{ base_url }}{{ post.path }}/thumbnail?height=1080"
    >
    {# files.first() doesn't seem to work here because of Diesel shenanigans.
    Eating whitespace after break stifles an unreachable code warning lolll #}
    {% for file in files %}
        <meta name="og:image:alt" content="{{ file.alt_text }}">
        {% break -%}
    {% endfor %}
    {# Mixing in this one (1) Twitter card line seems to do the right thing
    across various websites.  afaict it's just the done thing; there's no Open
    Graph equivalent here #}
    <meta name="twitter:card" content="summary_large_image">
    <meta
        name="article:published_time"
        content="{{ post.timestamp.format("%Y-%m-%dT%H:%M:%SZ") }}"
    >
{% endblock %}

{% block main %}
    <section id="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.path }}">{{ breadcrumb.label }}</a> ›
        {% endfor %}

        <h1
            {% if post.has_proper_title %}class="proper-title"{% endif %}
        >{{ post.title }}</h1>

        {% if post.timestamp < crate::SITE_LAUNCH -%}
            Originally posted
        {%- else -%}
            Posted
        {%- endif %}
        <time datetime="{{ post.timestamp.format("%Y-%m-%d %H:%M:%SZ") }}">
            {{ post.timestamp.format("%Y-%m-%d %H:%M UTC") }}
        </time>
    </section>

    <section id="art">
        {% for file in files %}
            <img
                src="{{ post.path }}/files/{{ file.order }}"
                alt="{{ file.alt_text }}"
            >
        {% endfor %}
    </section>

    <section id="browsing">
        {% if let Some(prev_post) = prev_post %}
            <a class="prev" href="{{ prev_post.path }}">
                <b class="browsing-label">Prev:</b>
                <span class="browsing-title
                     {% if prev_post.has_proper_title %}proper-title{% endif %}
                ">{{ prev_post.title }}</span>
                <img
                    src="{{ prev_post.path }}/thumbnail?height=100"
                    alt=""  {#- The title is right beside it #}
                    srcset="
                        {{ prev_post.path }}/thumbnail?height=100 1x,
                        {{ prev_post.path }}/thumbnail?height=200 2x,
                        {{ prev_post.path }}/thumbnail?height=400 4x
                    "
                >
            </a>
        {% endif %}
        {% if let Some(next_post) = next_post %}
            <a class="next" href="{{ next_post.path }}">
                <b class="browsing-label">Next:</b>
                <span class="browsing-title
                     {% if next_post.has_proper_title %}proper-title{% endif %}
                ">{{ next_post.title }}</span>
                <img
                    src="{{ next_post.path }}/thumbnail?height=100"
                    alt=""
                    srcset="
                        {{ next_post.path }}/thumbnail?height=100 1x,
                        {{ next_post.path }}/thumbnail?height=200 2x,
                        {{ next_post.path }}/thumbnail?height=400 4x
                    "
                >
            </a>
        {% endif %}
    </section>

    <section>{{ post.description|markdown }}</section>
{% endblock %}
